@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400..600;1,400..600&display=swap');

body {
    background-color: #111;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    padding: 16px 0;
}

section, footer {
    padding: 80px 0;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 18px;
}

.flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-direction: column;
}

.banner img {
    width: 100%;
    max-width: 280px;
    height: auto;
}

p.text-big {
    font-size: 28px;
    line-height: 42px;
}

.image-section {
    padding: 0;
    min-height: 480px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-section.img-1 {
    background-image: url("/assets/images/food-forces-cool-storage.jpg");
}

.image-section.img-2 {
    background-image: url("/assets/images/Food-Forces-About-us-Rotterdam.jpg");
}

.w-80 {
    max-width: 100%;
}

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
}

.card {
    background-color: #fff;
    color: #111;
    padding: 24px;
    border-radius: 5px;
}

.card h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    margin: 24px 0;
}

.card p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
}

.card div {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #4fc1e9;
}

section.cards {
    padding-top: 0;
}

.bg-white {
    background-color: #fff;
    color: #111;
}

.logos {
    height: 100px;
    width: 100%;
    background-color: #4fc1e9;
    background-image: url('/assets/images/small-logo.png');
    background-repeat: space;
    background-size: 120px 100px;
}

.footer-images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 28px;
    margin-bottom: 28px;
}

.footer-images img {
    display: block;
    width: 100%;
}

.footer-images img.logo {
    max-width: 247px;
}

.footer-images p {
    font-size: 14px;
    line-height: 22px;
}

footer {
    padding-bottom: 40px !important;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.flex img {
    order: -1;
    width: 100%;
    max-width: 220px;
    display: block;
    position: relative;
    top: -128px;
    margin-bottom: -100px;
}

.flex p {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 48px;
}

.service h3 {
    font-weight: 600;
    font-size: 27px;
    line-height: 35px;
    margin-bottom: 24px;
}

.service p {
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
}

.btn {
    padding: 8px 12px;
    background: #4fc1e9;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    display: inline-block;
}

.btn.big {
    padding: 16px 24px;
    font-size: 20px;
    line-height: 32px;
}

.section-services h2,
.section-wrok-with-us h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 80px;
    margin-bottom: 32px;
}

.section-wrok-with-us p {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 32px;
}

.section-contacts {
    padding: 60px 0;
}

.list {
    height: 338px;
    padding: 0 18px;
    border-radius: 7px;
    background-color: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.list.white {
    background-color: #fff;
    color: #111;
}

.list p {
    display: flex;
    align-items: flex-start;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 8px;
}

.list p::before {
    content: '';
    display: block;
    margin-right: 8px;
    margin-top: 7px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #4fc1e9;
}

@media screen and (min-width: 768px) {
    section, footer {
        padding: 120px 0;
    }


    .section-services h2 {
        font-size: 77px;
        line-height: 100px;
        margin-bottom: 48px;
    }

    .section-wrok-with-us h2 {
        font-weight: 500;
        font-size: 64px;
        line-height: 83px;
        margin-bottom: 48px;
    }

    .section-wrok-with-us p {
        margin-bottom: 48px;
    }

    .banner {
        flex-direction: row;
    }

    p.text-big {
        font-size: 40px;
        line-height: 52px;
    }

    .w-80 {
        max-width: 80%;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-images {
        flex-direction: row;
    }

    .footer-images img.map {
        max-width: 380px;
    }

    .flex {
        flex-direction: row;
        align-items: flex-start;
    }

    .flex img {
        order: 2;
        max-width: 348px;
        top: -167px;
        margin-bottom: 0;
    }

    .flex p {
        font-size: 48px;
        line-height: 62px;
        margin-right: 10px;
    }

    .image-section {
        min-height: 769px;
    }

    .list p {
        font-size: 24px;
        line-height: 34px;
    }
}

@media screen and (min-width: 992px) {
    .banner img {
        max-width: 447px;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 75px;
    }

    .footer-images img.map {
        max-width: 680px;
    }
}
